.homeHead{
  color: red;
}
.homeBody{
  background: blanchedalmond;
}
.navButton{
    color: darkblue;
    border: 2px outset darkblue;
    text-decoration: none;
    border-radius: 10%;
    background: ivory;
}
