.homeHead{
  color: red;
}
.homeBody{
  background: blanchedalmond;
}
.navButton{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    color: darkblue;
    border: 2px ridge darkblue;
    text-decoration: none;
    border-radius: 10%;
    background: ivory;
}
